<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>UIFontIcons.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>CFBundleDisplayName</key>
	<string>Get Sanger</string>
	<key>CFBundleIdentifier</key>
	<string>com.companyname.GetSanger</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>GetSanger</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Can we use your location at all times? </string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Can we use your location when your application is being used?</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Can we use your location at all times?</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Picture Picker uses photo library</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.companyname.getsanger</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.companyname.getsanger</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
  <key>UIAppFonts</key>
  <array>
    <string>Montserrat-Bold.ttf</string>
    <string>Montserrat-SemiBoldItalic.ttf</string>
    <string>Montserrat-LightItalic.ttf</string>
    <string>Caveat-Bold.ttf</string>
    <string>Caveat-Regular.ttf</string>
    <string>Caveat-SemiBold.ttf</string>
    <string>OpenSans-Bold.ttf</string>
    <string>OpenSans-SemiBoldItalic.ttf</string>
    <string>OpenSans-SemiBold.ttf</string>
    <string>OpenSans-LightItalic.ttf</string>
  </array>
	
	<key>CFBundleURLTypes</key>
	<array>
	  <dict>
		<key>CFBundleURLName</key>
		<string>fb</string>
		<key>CFBundleURLSchemes</key>
		<array>
		   <string>fb328227848585394</string>
		</array>
	  </dict>
	</array>
	<key>FacebookAppID</key>
	<string>328227848585394</string>
	<key>FacebookDisplayName</key>
	<string>Get Sanger</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
	  <string>fbapi</string>
	  <string>fb-messenger-share-api</string>
	  <string>fbauth2</string>
	  <string>fbshareextension</string>
	</array>
</dict>
</plist>
